<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>提问{lt name=":input('id')" value="0"}新增{else/}编辑{/lt} | TE.CMS - ThinkEngineCMS</title>
    <!--STYLESHEET-->
    <link href="__LAYUI__css/layui.css" rel="stylesheet">
    <link href='__ADMIN__css/font-face.css' rel='stylesheet'>
    <link href="__ADMIN__css/bootstrap.min.css" rel="stylesheet">
    <link href="__ADMIN__css/nifty.min.css" rel="stylesheet">
    <link href="__ADMIN__css/demo/nifty-demo-icons.min.css" rel="stylesheet">
    <link href="__ADMIN__css/demo/nifty-demo.min.css" rel="stylesheet">
    <link href="__ADMIN__plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
    <link href="__ADMIN__plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="__ADMIN__plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__ADMIN__plugins/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="__ADMIN__plugins/summernote/summernote.min.css" rel="stylesheet">
    <link href="__ADMIN__plugins/pace/pace.min.css" rel="stylesheet">

    <!--JAVASCRIPT-->
    <script src="__ADMIN__js/jquery-2.2.4.min.js"></script>
    <script src="__ADMIN__js/jquery.cookie.js"></script>
    <script src="__ADMIN__js/bootstrap.min.js"></script>
    <script src="__ADMIN__js/nifty.min.js"></script>
    <script src="__ADMIN__js/demo/nifty-demo.min.js"></script>
    <script src="__ADMIN__plugins/pace/pace.min.js"></script>
    <script src="__ADMIN__plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="__ADMIN__js/demo/icons.js"></script>
    <script src="__ADMIN__plugins/summernote/summernote.min.js"></script>
    <script src="__ADMIN__plugins/summernote/lang/summernote-zh-CN.js"></script>
    <script src="__ADMIN__plugins/validform/validform.js"></script>
    <script src="__LAYUI__layui.js"></script>
    <script src="__ADMIN__js/myself.min.js"></script>
</head>
<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
<div id="container" class="aside-float aside-bright effect navbar-fixed footer-fixed mainnav-lg mainnav-fixed">
    <!--NAVBAR-->
    {include file="static/admin/navbar.html"}
    <!--END NAVBAR-->
    <div class="boxed">
        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div id="content-container">
            <!--Page Title-->
            <div id="page-title">
                <h1 class="page-header text-overflow">提问模块管理</h1>
                <!--Searchbox-->
                <div class="searchbox">
                    <div class="input-group custom-search-form">
                        <input type="text" class="form-control" placeholder="Search..">
                        <span class="input-group-btn">
                                <button class="text-muted" type="button"><i class="demo-pli-magnifi-glass"></i></button>
                            </span>
                    </div>
                </div>
            </div>
            <!--End page title-->

            <!--Breadcrumb-->
            <ol class="breadcrumb">
                <li><a href="{:url('/admin')}">首页</a></li>
                <li><a href="{:url('/admin/quest/index')}">列表</a></li>
                <li class="active">{lt name=":input('id')" value="0"}新增{else/}编辑{/lt}</li>
            </ol>
            <!--End breadcrumb-->

            <!--Page content-->
            <div id="page-content">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">提问管理</h3>
                            </div>
                            <!-- BASIC FORM ELEMENTS -->
                            <form method="post" action="{:url('/admin/quest/save')}" class="Validform">
                                <div class="panel-body form-horizontal form-padding">

                                    <div class="form-group">
                                        <label class="col-md-3 control-label">类别</label>
                                        <div class="col-md-7">
                                            <select class="selectpicker col-xs-6 col-sm-4 col-md-6 col-lg-4" name="cid" data-style="btn-primary" datatype="*" nullmsg="请填写类别">
                                                {volist name="cate" id="item"}
                                                <option value="{$item.id}" {if $Obj->cid eq $item.id}selected{/if}>{$item.name}</option>
                                                {/volist}
                                            </select>
                                        </div>
                                    </div>

                                    <!--text-->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">标题</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" placeholder="请填写标题" name="title" value="{$Obj->title}">
                                        </div>
                                    </div>

                                    <!--editor-->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">内容</label>
                                        <div class="col-md-8">
                                            <textarea name="content" cols="30" rows="10" class="form-control content">{$Obj->content}</textarea>
                                        </div>
                                    </div>

                                    <!--text-->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">飞吻</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" placeholder="请填写飞吻" name="money" value="{$Obj->money}">
                                        </div>
                                    </div>

                                    <!--Radio-->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">状态</label>
                                        <div class="col-md-5">
                                            <div class="radio">

                                                <input id="radio-0" class="magic-radio" type="radio" name="status" value="0" {if $Obj->status eq 0}checked{/if}>
                                                <label for="radio-0">未审</label>
                                                <input id="radio-1" class="magic-radio" type="radio" name="status" value="1" {if $Obj->status eq 1}checked{/if}>
                                                <label for="radio-1">未结</label>
                                                <input id="radio-2" class="magic-radio" type="radio" name="status" value="2" {if $Obj->status eq 2}checked{/if}>
                                                <label for="radio-2">已结</label>

                                            </div>
                                        </div>
                                    </div>

                                    <!--text-->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">其他</label>
                                        <div class="col-md-5">
                                            <div class="radio">
                                                <input id="checkbox-0" class="magic-checkbox" type="checkbox" name="stick" value="1" {gt name="$Obj->stick" value="0" }checked{/gt}><label for="checkbox-0">置顶</label>
                                                <input id="checkbox-3" class="magic-checkbox" type="checkbox" name="serum" value="1" {gt name="$Obj->serum" value="0" }checked{/gt}><label for="checkbox-3">精华</label>
                                            </div>
                                        </div>
                                    </div>

                                    <!--text-->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">查看次数</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" placeholder="请填写查看次数" name="view" value="{$Obj->view}">
                                        </div>
                                    </div>


                                </div>
                                <!-- END BASIC FORM ELEMENTS -->
                                <div class="panel-footer text-right">
                                    <input type="hidden" name="id" value="{$Obj->id}">
                                    <button class="btn btn-success" type="submit">提交</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
            <!--End page content-->
        </div>
        <!--END CONTENT CONTAINER-->
        <!--ASIDE-->
        {include file="static/admin/aside.html"}
        <!--END ASIDE-->
        <!--MAIN NAVIGATION-->
        {include file="static/admin/menu.html"}
        <!--END MAIN NAVIGATION-->
    </div>
    <!-- FOOTER -->
    {include file="static/admin/footer.html"}
    <!-- END FOOTER -->
    <!-- SCROLL PAGE BUTTON -->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
</div>
<!-- END OF CONTAINER -->
<script>
    $(function () {
        textEditor(); //编辑器
        Myinit(); //全局实例化
    })
</script>
</body>
</html>
