<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章{if input('id')}编辑{else}添加{/if} | TE.CMS - ThinkEngineCMS</title>

    <!--STYLESHEET-->
    <link href="__LAYUI__css/layui.css" rel="stylesheet" >
    <link href='__ADMIN__css/font-face.css' rel='stylesheet'>
    <link href="__ADMIN__css/bootstrap.min.css" rel="stylesheet">
    <link href="__ADMIN__css/nifty.min.css" rel="stylesheet">
    <link href="__ADMIN__css/demo/nifty-demo-icons.min.css" rel="stylesheet">
    <link href="__ADMIN__css/demo/nifty-demo.min.css" rel="stylesheet">
    <link href="__ADMIN__plugins/magic-check/css/magic-check.min.css" rel="stylesheet">
    <link href="__ADMIN__plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="__ADMIN__plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="__ADMIN__plugins/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="__ADMIN__plugins/summernote/summernote.min.css" rel="stylesheet">
    <link href="__ADMIN__plugins/pace/pace.min.css" rel="stylesheet">

    <!--JAVASCRIPT-->
    <script src="__ADMIN__js/jquery-2.2.4.min.js"></script>
    <script src="__ADMIN__js/jquery.cookie.js"></script>
    <script src="__ADMIN__js/bootstrap.min.js"></script>
    <script src="__ADMIN__js/nifty.min.js"></script>
    <script src="__ADMIN__js/demo/nifty-demo.min.js"></script>
    <script src="__ADMIN__plugins/pace/pace.min.js"></script>
    <script src="__ADMIN__plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="__ADMIN__js/demo/icons.js"></script>
    <script src="__ADMIN__plugins/summernote/summernote.min.js"></script>
    <script src="__ADMIN__plugins/summernote/lang/summernote-zh-CN.js"></script>
    <script src="__ADMIN__plugins/validform/validform.js"></script>
    <script src="__LAYUI__layui.js"></script>
    <script src="__HACK__ueditor/ueditor.config.js"></script>
    <script src="__HACK__ueditor/ueditor.all.min.js"></script>
    <script src="__ADMIN__js/myself.min.js"></script>
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->
<body>
<div id="container" class="aside-float aside-bright effect navbar-fixed footer-fixed mainnav-lg mainnav-fixed">
        
        <!--NAVBAR-->
        {include file="static/admin/navbar.html"}
        <!--END NAVBAR-->

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">
                
                <!--Page Title-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <div id="page-title">
                    <h1 class="page-header text-overflow">文章模块管理</h1>

                    <!--Searchbox-->
                    <div class="searchbox">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..">
                            <span class="input-group-btn">
                                <button class="text-muted" type="button"><i class="demo-pli-magnifi-glass"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End page title-->


                <!--Breadcrumb-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <ol class="breadcrumb">
                    <li><a href="{:url('/admin')}">首页</a></li>
                    <li><a href="{:url('news/index')}">列表</a></li>
                    <li class="active">{lt name=":input('param.id')" value="0"}新增{else/}{$Obj->title}{/lt}</li>
                </ol>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End breadcrumb-->


        

                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">

					<div class="row">
					    <div class="col-lg-12">
					        <div class="panel">
					            <div class="panel-heading">
					                <h3 class="panel-title">文章管理</h3>
					            </div>
					
					
					            <!-- BASIC FORM ELEMENTS -->
					            <!--===================================================-->
					            <form method="post" action="{:url('news/saveOrUpdate')}" class="Validform">
                                    <div class="panel-body form-horizontal form-padding">
                                        
                                    <!--text-->
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">名称</label>
                                        <div class="col-md-5">
                                            <input type="text" class="form-control" placeholder="文章标题不能为空" name="title" value="{$Obj->title}"  nullmsg="">
                                        </div>
                                    </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">分类</label>
                                            <div class="col-md-7">
                                                <input type="hidden" id="pid" value="{$Obj->pid}">
                                                <select class="selectpicker col-xs-6 col-sm-4 col-md-6 col-lg-4" data-style="btn-primary" name="pid">
                                                    {$cate}
                                                </select>
                                            </div>
                                        </div>

                                        <!--text-->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">文章摘要</label>
                                            <div class="col-md-5">
                                                <textarea name="desc" cols="30" rows="10" class="form-control" placeholder="可为空，默认截取正文的200字" >{$Obj->desc}</textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Tags</label>
                                            <div class="col-md-5 input-group">
                                                <input type="text" class="form-control" placeholder="" name="tags" value="{$Obj->tags}">
                                                <span class="input-group-addon"><a href="JavaScript:void(0)" onclick="getTags('title','tags')" class="fa fa-tags"></a></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">封面图</label>
                                            <div class="col-md-5 input-group">
                                                <input type="text" class="form-control data-cropper" name="photo" value="{$Obj->photo}">
                                                <span class="input-group-addon"><a href="JavaScript:void(0)" class="fa fa-upload" onclick="cropper(this)"></a></span>
                                                <span class="input-group-addon"><a href="JavaScript:void(0)" class="fa fa-eye" onclick="viewPhoto(this, '.data-cropper')"></a></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">内容编辑</label>
                                            <div class="col-md-7">
                                                <textarea id="content" name="content" style="width: 100%;">{$Obj->content}</textarea>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">来源名称</label>
                                            <div class="col-md-5 input-group">
                                                <input type="text" class="form-control" placeholder="不填则代表本网站原创" name="source" value="{$Obj->source}">
                                                <span class="input-group-addon"><i class="fa fa-gg-circle"></i></span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">来源URL</label>
                                            <div class="col-md-5 input-group">
                                                <input type="text" class="form-control" placeholder="不填则代表本网站原创" name="source_url" value="{$Obj->source_url}">
                                                <span class="input-group-addon"><i class="fa fa-terminal"></i></span>
                                            </div>
                                        </div>

                                        <!--Radio-->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">状态</label>
                                            <div class="col-md-5">
                                                <div class="radio">

                                                    <input id="radio-0" class="magic-radio" type="radio" name="status" value="0" ><label for="radio-0">未审核</label><input id="radio-1" class="magic-radio" type="radio" name="status" value="1" checked><label for="radio-1">正常</label><input id="radio-2" class="magic-radio" type="radio" name="status" value="2" ><label for="radio-2">锁定</label>

                                                </div>
                                            </div>
                                        </div>

                                        <!--Checkbox-->
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">其他设置</label>
                                            <div class="col-md-5">
                                                <div class="radio">

                                                    <input id="checkbox-0" class="magic-checkbox" type="checkbox" name="is_host" value="1" {gt name="$Obj->is_host" value="0"}checked{/gt}><label for="checkbox-0">热门</label>
                                                    <input id="checkbox-1" class="magic-checkbox" type="checkbox" name="top" value="1" {gt name="$Obj->top" value="0"}checked{/gt}><label for="checkbox-1">置顶</label>
                                                    <input id="checkbox-2" class="magic-checkbox" type="checkbox" name="levels" value="1" {gt name="$Obj->levels" value="0"}checked{/gt}><label for="checkbox-2">推荐</label>
                                                    <input id="checkbox-3" class="magic-checkbox" type="checkbox" name="refined" value="1" {gt name="$Obj->refined" value="0"}checked{/gt}><label for="checkbox-3">精</label>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
					            <!-- END BASIC FORM ELEMENTS -->
                                <div class="panel-footer text-right">
                                    <input type="hidden" name="id" value="{$Obj->id}">
                                    <button class="btn btn-success" type="submit">提交</button>
                                </div>
                                </form>
					        </div>
					    </div>
					</div>

                </div>
                <!--End page content-->
            </div>
            {include file="static/admin/aside.html"}
            {include file="static/admin/menu.html"}
        </div>

        

        <!-- FOOTER -->
        {include file="static/admin/footer.html"}
        <!-- END FOOTER -->


        <!-- SCROLL PAGE BUTTON -->
        <!--===================================================-->
        <button class="scroll-top btn">
            <i class="pci-chevron chevron-up"></i>
        </button>
        <!--===================================================-->



    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
    <script>
        $(function () {
            var ue = UE.getEditor('content');
            Myinit(); //全局实例化
            var pid = $('#pid').val();
            $('select[name=pid]').find("option").each(function () {
                if(pid == $(this).val()){
                    $(this).attr("selected",'selected');
                }
            });
        })
    </script>
</body>
</html>
